# ASP.NET Core
# Build and test ASP.NET Core projects targeting .NET Core.
# Add steps that run tests, create a NuGet package, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/dotnet-core

trigger:
- main

variables:
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true
  DOTNET_CLI_TELEMETRY_OPTOUT: 1

jobs:
- job: Linux_Build_and_Test
  pool:
    vmImage: 'ubuntu-latest'
  steps:
  - task: UseDotNet@2
    displayName: 'Use .NET sdk 8.0'
    inputs:
      version: 8.x
  - script: dotnet build -c $(buildConfiguration) -v n
    displayName: 'dotnet build'
  - displayName: 'dotnet test'
    script: |
      dotnet test -c Release ./test/Xunit.DependencyInjection.Test/Xunit.DependencyInjection.Test.csproj
      dotnet test -c Release ./test/Xunit.DependencyInjection.Test.AspNetCore/Xunit.DependencyInjection.Test.AspNetCore.csproj

- job: MacOS_Build_and_Test
  pool:
    vmImage: 'macOS-latest'
  steps:
  - task: UseDotNet@2
    displayName: 'Use .NET sdk 8.0'
    inputs:
      version: 8.x
  - script: dotnet build -c $(buildConfiguration) -v n
    displayName: 'dotnet build'
  - displayName: 'dotnet test'
    script: |
      dotnet test -c Release ./test/Xunit.DependencyInjection.Test/Xunit.DependencyInjection.Test.csproj
      dotnet test -c Release ./test/Xunit.DependencyInjection.Test.AspNetCore/Xunit.DependencyInjection.Test.AspNetCore.csproj

- job: Windows_Build_and_Test
  pool:
    vmImage: 'windows-latest'
  steps:
  - task: UseDotNet@2
    displayName: 'Use .NET sdk 8.0'
    inputs:
      version: 8.x
  - script: dotnet build -c $(buildConfiguration) -v n
    displayName: 'dotnet build'
  - displayName: 'dotnet test'
    script: |
      dotnet test
